{{ define "body" }}
<div class="min-h-screen bg-gray-100 dark:bg-gray-900 flex flex-col items-center justify-center p-6">
  {{ if .TopbarData.LoggedIn }}
  <section class="w-full max-w-3xl">
    <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg p-8 mb-8">
      <h2 class="text-3xl font-bold mb-6 text-green-700 dark:text-green-300">A propos de ce projet</h2>
      <p class="text-lg text-gray-700 dark:text-gray-300 leading-relaxed">
        Hello, ce site est basé sur le travail de Skyzio et reprend le guide qu'il a fait, mais sous format de site. En
        plus, il intègre des fonctionnalités comme les guildes ou la gestion de plusieurs personnages. Le site est
        encore en amélioration, et je serais super content d'avoir vos avis ! Que ce soit positif, négatif, constructif
        ou quoi que ce soit. Aussi, si vous êtes dev, UI/UX designer ou si vous avez une quelconque compétence qui peut
        rendre ce site meilleur, n'hésitez pas à me contacter à <a href="mailto:contact@optiguide.dev" target="_blank"
          class="text-green-600 dark:text-green-400 hover:underline">contact@optiguide.dev</a>.
        Vous pouvez check le projet sur <a href="https://github.com/noahfraiture/optiguide" target="_blank"
          class="text-green-600 dark:text-green-400 hover:underline">GitHub</a>.
      </p>
    </div>
    <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg p-8">
      <h3 class="text-2xl font-semibold mb-6 text-green-700 dark:text-green-300">Avis</h3>
      {{ block "feedback-form" . }}{{ end }}
    </div>
  </section>
  {{ else }}
  <div class="flex justify-center items-center h-full">
    <h1 class="text-3xl text-green-700 dark:text-green-300 font-bold">You are not connected</h1>
  </div>
  {{ end }}
</div>
{{ end }}

{{ define "feedback-form" }}
<form id="feedback-form" hx-post="/about/submit-feedback" hx-swap="beforeend" hx-target="#alerts"
  hx-on::after-request="this.reset()">
  <textarea id="feedback-text" name="feedback" placeholder="Ecrivez votre avis ici..."
    class="w-full h-48 p-4 border border-gray-300 dark:border-gray-600 rounded-lg focus:ring-green-500 focus:border-green-500 dark:focus:border-green-400 mb-6 text-lg text-gray-700 dark:text-gray-300 bg-white dark:bg-gray-800"
    required></textarea>
  <button type="submit"
    class="px-6 py-3 bg-green-600 dark:bg-green-800 text-white rounded-lg hover:bg-green-700 dark:hover:bg-green-900 transition text-lg">Envoyer</button>
</form>

<div id="alerts" class="fixed inset-x-0 top-0 flex flex-col items-center z-50">
</div>
{{ end }}

{{ define "feedback-success" }}
<div id="alert" hx-on:htmx:load="setTimeout(() => this.remove(), 3000)"
  class="bg-green-100 dark:bg-green-700 border-t-4 border-green-500 dark:border-green-300 rounded-b text-green-900 dark:text-green-100 px-4 py-3 shadow-md mb-4"
  role="alert">
  <p>Votre avis a bien été envoyé, merci !</p>
</div>
{{ end }}

{{ define "feedback-fail" }}
<div id="alert" hx-on:htmx:load="setTimeout(() => this.remove(), 3000)"
  class="bg-red-100 dark:bg-red-700 border-t-4 border-red-500 dark:border-red-300 rounded-b text-red-900 dark:text-red-100 px-4 py-3 shadow-md mb-4"
  role="alert">
  <p>Votre message est incorrect ou vide !</p>
</div>
{{ end }}
