{{ define "cards" }}
{{ range .Cards }}
<div id="card-container-{{ .Idx }}"
  class="bg-white dark:bg-gray-800 p-6 shadow-md rounded-lg border border-gray-200 dark:border-gray-700 mb-6 w-full">
  <div>
    <h1 class="text-left absolute text-xl font-semibold text-green-700 dark:text-green-300 mb-4">Niveau {{ .Level }}
    </h1>
    <h1 class="text-center text-xl font-semibold text-green-700 dark:text-green-300 mb-4">Etape {{ .Idx }}</h1>
  </div>

  <div class="mb-4">
    {{ if .TaskContentTwo }}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-4">
      <div class="md:col-span-1 lg:col-span-1">
        <div
          class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg hover:bg-green-100 dark:hover:bg-green-800">
          <h3 class="font-medium text-green-700 dark:text-green-300">{{ .TaskTitleOne }}</h3>
          <p class="text-gray-700 dark:text-gray-200">{{ .TaskContentOne }}</p>
        </div>
      </div>
      <div class="md:col-span-1 lg:col-span-1">
        <div
          class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg hover:bg-green-100 dark:hover:bg-green-800">
          {{ if .TaskTitleTwo }}
          <h3 class="font-medium text-green-700 dark:text-green-300">{{ .TaskTitleTwo }}</h3>
          {{ else }}
          <h3 class="font-medium text-green-700 dark:text-green-300">{{ .TaskTitleOne }}</h3>
          {{ end }}
          <p class="text-gray-700 dark:text-gray-200">{{ .TaskContentTwo }}</p>
        </div>
      </div>
      <!-- Info Column -->
      <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg border border-gray-200 dark:border-gray-600">
        <h3 class="font-medium text-gray-600 dark:text-gray-300 mb-2">Infos</h3>
        <p class="text-gray-600 dark:text-gray-300">{{ .Info }}</p>
      </div>
    </div>
    {{ else }}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mb-4">
      <div
        class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg hover:bg-green-100 dark:hover:bg-green-800">
        <h3 class="font-medium text-green-700 dark:text-green-300">{{ .TaskTitleOne }}</h3>
        <p class="text-gray-700 dark:text-gray-200">{{ .TaskContentOne }}</p>
      </div>
      <!-- Info Section -->
      <div class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg border border-gray-200 dark:border-gray-600">
        <h3 class="font-medium text-gray-600 dark:text-gray-300 mb-2">Infos</h3>
        <p class="text-gray-600 dark:text-gray-400">{{ .Info }}</p>
      </div>
    </div>
    {{ end }}
  </div>

  <!-- Dungeons and Achievements -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-4">
      {{ if or .DungeonOne .DungeonTwo .DungeonThree }}
      <div class="mb-4">
        <h3 class="font-bold text-gray-700 dark:text-gray-300">Donjons:</h3>
        <div>
          {{ if .DungeonOne }}
          <h4 class="font-semibold text-gray-600 dark:text-gray-300">Tour du monde:</h4>
          {{ range .DungeonOne }}
          <p class="text-gray-600 dark:text-gray-300">- {{ . }}</p>
          {{ end }}
          {{ end }}
          {{ if .DungeonTwo }}
          <h4 class="font-semibold text-gray-600 dark:text-gray-300">Tornade des donjons:</h4>
          {{ range .DungeonTwo }}
          <p class="text-gray-600 dark:text-gray-300">- {{ . }}</p>
          {{ end }}
          {{ end }}
          {{ if .DungeonThree }}
          <h4 class="font-semibold text-gray-600 dark:text-gray-300">Autre donjons:</h4>
          {{ range .DungeonThree }}
          <p class="text-gray-600 dark:text-gray-300">- {{ . }}</p>
          {{ end }}
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ if .Achievements }}
      <div class="mb-4">
        <h3 class="font-bold text-gray-700 dark:text-gray-300">Succès:</h3>
        <ul class="list-none p-0">
          {{ $cardIndex := .Idx }}
          {{ range .Achievements }}
          <li class="flex items-center mb-2">
            <label>
              <input type="checkbox" class="form-checkbox h-5 w-5 text-green-600 dark:text-green-400"
                hx-get="/card/toggle-achievement?card={{ $cardIndex }}&achievement={{ urlquery .Name }}" {{ if .Done }}
                checked {{ end }} />
              {{ if .Link }}
              <a href="{{ .Link }}" target="_blank" class="ml-2 text-blue-500 dark:text-blue-300 hover:underline">{{
                .Name }}</a>
              {{ else }}
              <span class="ml-2 text-gray-600 dark:text-gray-200">{{ .Name }}</span>
              {{ end }}
            </label>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>

    <!-- Character Boxes -->
    <div>
      <h3 class="font-bold text-gray-700 dark:text-gray-300 mb-4">Personnages:</h3>
      <div id="character-boxes-{{ .Idx }}" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {{ $cardIndex := .Idx }}
        {{ $boxes := .Boxes }}

        {{ range $.Team }}
        {{ block "box" (map "CardIndex" $cardIndex "Done" (index $boxes .BoxIndex) "Character" . ) }}{{ end }}
        {{ end }}
      </div>
    </div>

  </div>

  <!-- Spell Section -->
  {{ if .Spell }}
  <div class="mb-4">
    <h3 class="font-semibold text-gray-700 dark:text-gray-300">Sort Communs:</h3>
    <p class="text-gray-600 dark:text-gray-400">{{ .Spell }}</p>
  </div>
  {{ end }}

</div>
{{ end }}
{{ end }}

{{ define "box" }}

<div id="character-box-{{ .Character.BoxIndex }}"
  class="flex items-center space-x--gray-100 dark:bg-gray-700 p-2 rounded-lg shadow-md hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-200 flex-wrap">
  <label class="flex items-center space-x-2 w-full">
    <input type="checkbox" hx-get="/card/toggle?card={{ .CardIndex }}&box={{ .Character.BoxIndex }}" hx-swap="none"
      class="w-4 h-4 text-blue-600 dark:text-blue-400 bg-gray-100 dark:bg-gray-700 border-gray-300 dark:border-gray-600 rounded focus:ring-blue-500 dark:focus:ring-blue-400 focus:ring-2"
      {{ if .Done }} checked {{ end }} />
    <div id="icon-{{ .Character.BoxIndex }}" class="flex-shrink-0">
      {{ block "character-icon" .Character.Class }}{{ end }}
    </div>
    <div id="name-{{ .Character.BoxIndex }}" class="truncate whitespace-nowrap">
      {{ .Character.Name }}
    </div>
  </label>
</div>

{{ end }}
