{{ define "body" }}
<div class="min-h-screen bg-gray-100 p-6">
  {{ if .TopbarData.LoggedIn }}

  {{ block "team" . }}{{ end }}

  <div id="card-container" class="flex flex-col gap-6">
    <!-- Call the first page of cards -->
    {{ block "cards" .CardData }}{{ end }}
  </div>
  {{ else }}
  <h1 class="text-2xl text-center text-gray-700">You are not connected</h1>
  {{ end }}
</div>
{{ end }}

{{ define "swap" }}
{{ range $cardIndex := iterate .MaxCardID }}
<div hx-swap-oob="beforeend:#character-boxes-{{ $cardIndex }}" id="character-box-{{ $.BoxIndex }}">
  {{ $boxState := boxAtCard $.Boxes $cardIndex }}
  {{ block "box" (map "CardIndex" $cardIndex "BoxIndex" $.BoxIndex "Done" (doneAtIndex $boxState $.BoxIndex) "Character" (characterAtIndex $.Team $.BoxIndex) ) }}{{ end }}
</div>
{{ end }}

{{ block "picker" (map "BoxIndex" .BoxIndex "Character" (characterAtIndex $.Team .BoxIndex)) }}{{ end }}

{{ end }}
