{{ define "body" }}
<div class="min-h-screen p-6">
  {{ if .TopbarData.LoggedIn }}

  {{ block "search-bar" . }}{{ end }}

  {{ block "team" . }}{{ end }}

  <div id="card-container" class="flex flex-col gap-6">
    <!-- Call the first page of cards -->
    {{ block "cards" . }}{{ end }}
  </div>
  {{ else }}
  <div class="flex justify-center items-center h-full">
    <h1 class="text-3xl text-green-700 dark:text-green-300 font-bold">You are not connected</h1>
  </div>
  {{ end }}
</div>
{{ end }}

{{ define "swap" }}
{{ range $cardIndex := iterate .MaxCardID }}
<div hx-swap-oob="beforeend:#character-boxes-{{ $cardIndex }}" id="character-box-{{ $.BoxIndex }}">
  {{ $boxState := boxAtCard $.Boxes $cardIndex }}
  {{ block "box" (map "CardIndex" $cardIndex "BoxIndex" $.BoxIndex "Done" (doneAtIndex $boxState $.BoxIndex) "Character"
  (characterAtIndex $.Team $.BoxIndex) ) }}{{ end }}
</div>
{{ end }}

{{ block "picker" (map "BoxIndex" .BoxIndex "Character" (characterAtIndex $.Team .BoxIndex)) }}{{ end }}

{{ end }}

{{ define "search-bar" }}

<div class="flex pb-4 space-x-4">
  <input type="text" name="name" hx-get="/card/search" hx-trigger="keyup changed delay:500ms"
    hx-target="#card-container" hx-swap="innerHTML" placeholder="Recherche une étape..."
    class="flex-grow px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-lg focus:ring-green-500 focus:border-green-500 dark:focus:border-green-400 bg-white dark:bg-gray-700">
  <button
    class="hidden sm:block text-white px-4 py-2 bg-green-600 dark:bg-green-800 rounded-lg hover:bg-green-700 dark:hover:bg-green-900 transition">Recherche</button>
</div>


{{ end }}
