<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ block "title" . }}{{ end }}</title>
  <script src="https://unpkg.com/htmx.org"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="icon" href="/static/favicon.png" type="image/png">

</head>

<body>
  {{ block "topbar" . }}{{ end }}

  <div id="body">
    {{ block "body" . }}{{ end }}
  </div>
</body>

</html>
