{{ range .Cards }}
<div id="card-container-{{ .Card.ID }}">
  <h1>{{ .Card.ID }}</h1>

  <div>
    <h2>{{ .Card.TaskOne }}</h2>
  </div>
  <div>
    <h2>{{ .Card.TaskTwo }}</h2>
  </div>

  <div>
    <span>{{ .Card.Info }}</span>
    <span>{{ .Card.Level }}</span>
    <span>{{ .Card.Achievements }}</span>
  </div>

  <div>
    <h3>Dungeons:</h3>
    <div>
      <p>{{ .Card.DungeonOne }}</p>
      <p>{{ .Card.DungeonTwo }}</p>
    </div>
    <h3>Spell:</h3>
    <p>{{ .Card.Spell }}</p>
  </div>

  {{ $done := .Done }}
  {{ $card := .Card }}
  {{ range $i := iterate $.Size }}
  <input
    type="checkbox"
    hx-swap="none"
    hx-trigger="change"
    hx-get="/toggle?card={{ $card.ID }}&box={{ $i }}"
    {{ if and $done $i }} checked {{ end }} />
  {{ end }}

</div>
{{ end }}
<div hx-get="/card?page={{ inc .Page }}" hx-trigger="revealed" hx-swap="outerHTML">Loading...
</div>
