<div id="card-container-{{ .Card.ID }}">
  <h1>{{ .Card.ID }}</h1>

  <div>
    <h2>{{ .Card.TaskOne }}</h2>
  </div>
  <div>
    <h2>{{ .Card.TaskTwo }}</h2>
  </div>

  <div>
    <span>{{ .Card.Info }}</span>
    <span>{{ .Card.Level }}</span>
    <span>{{ .Card.Achievements }}</span>
  </div>

  <div>
    <h3>Dungeons:</h3>
    <div>
      <p>{{ .Card.DungeonOne }}</p>
      <p>{{ .Card.DungeonTwo }}</p>
    </div>
    <h3>Spell:</h3>
    <p>{{ .Card.Spell }}</p>
  </div>

  <input type="checkbox" hx-get="/toggle?id={{ .Card.ID }}" hx-trigger="change" hx-swap="none" {{ if .Checked }} checked
    {{ end }} />
</div>

<div hx-get="/card?id={{ inc .Card.ID }}" hx-trigger="revealed" hx-swap="outerHTML">Loading...
</div>
