{{ define "class-picker" }}
<div class="flex space-x-4 mb-4">
  {{ range .Boxes }}
  <div class="relative inline-block text-left dropdown">
    <button type="button"
      class="dropbtn inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-green-600 text-white font-medium hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 transition">
      Perso {{ inc .BoxIndex }}
      <img src="/static/images/{{ nameFromClass .Class }}" </button>
      <div
        class="dropdown-content origin-top-right absolute right-0 mt-0 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden">
        <div class="py-1">
          {{ range $i := iterate $.NbClass }}
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
            <img src="/static/images/{{ nameFromClass $i }}.avif" alt="{{ nameFromClass $i }}"
              class="inline-block h-6 w-6 mr-2">
            {{ nameFromClass $i }}
          </a>
          {{ end }}
        </div>
      </div>
  </div>
  {{ end }}
</div>

<script>
  document.querySelectorAll('.dropdown').forEach(dropdown => {
    const dropdownContent = dropdown.querySelector('.dropdown-content');
    const dropbtn = dropdown.querySelector('.dropbtn');

    dropdown.addEventListener('mouseenter', () => {
      dropdownContent.classList.remove('hidden');
      dropbtn.classList.add('bg-green-700');
      adjustDropdownPosition(dropdownContent, dropdown);
    });
    dropdown.addEventListener('mouseleave', () => {
      dropdownContent.classList.add('hidden');
      dropbtn.classList.remove('bg-green-700');
    });
  });

  function adjustDropdownPosition(dropdownContent, dropdown) {
    const rect = dropdown.getBoundingClientRect();
    const windowWidth = window.innerWidth;
    if (rect.left + dropdownContent.offsetWidth > windowWidth) {
      dropdownContent.style.left = 'auto';
      dropdownContent.style.right = '0';
    } else {
      dropdownContent.style.left = '0';
      dropdownContent.style.right = 'auto';
    }
  }
</script>
{{ end }}
