{{ define "body" }}

<div class="min-h-screen bg-gray-100 p-6">
  {{ if .LoggedIn }}
  <div class="flex justify-between items-center mb-4">
    <div>
      <button
        hx-post="/minus"
        hx-trigger="click"
        hx-target="#card-container"
        class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700 transition"
      >
        -
      </button>
      <button
        hx-post="/plus"
        hx-trigger="click"
        hx-target="#card-container"
        class="px-4 py-2 bg-green-600 text-white rounded ml-2 hover:bg-green-700 transition"
      >
        +
      </button>
    </div>
  </div>

  {{ range .Boxes }}
  {{ renderIconFromClass .Class }}
  <img src="{{ renderIconFromClass .Class }}">
  <select>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
  {{ end }}

  <div id="card-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div hx-get="/card?page=0" hx-target="#card-container" hx-trigger="load"></div>
  </div>
  {{ else }}
  <h1 class="text-2xl text-center text-gray-700">You are not connected</h1>
  {{ end }}
</div>

{{ end }}
