{{ define "topbar" }}
<!-- Warning -->
<div class="bg-yellow-500 dark:bg-yellow-500 text-white p-3 text-center md:flex-col items-stretch">
  <strong>Work in progress:</strong> Le guide étant encore en développement, des rollbacks ne sont pas à exclure.
</div>

<!-- Navigation Bar -->
<nav class="bg-green-600 dark:bg-green-700 text-white border-b border-green-700 dark:border-green-800">
  <div class="container mx-auto px-4 lg:px-8">
    <div class="flex justify-between items-center py-4">
      <!-- Title -->
      <div class="text-xl font-bold">
        Optiguide
      </div>

      <!-- Navigation Links -->
      <ul class="hidden sm:flex space-x-4">
        <li><a href="/"
            class="px-4 py-2 bg-green-700 dark:bg-green-800 rounded-lg hover:bg-green-800 dark:hover:bg-green-900 transition">Accueil</a>
        </li>
        <li><a href="/characters"
            class="px-4 py-2 bg-green-700 dark:bg-green-800 rounded-lg hover:bg-green-800 dark:hover:bg-green-900 transition">Personnages</a>
        </li>
        <li><a href="/guild"
            class="px-4 py-2 bg-green-700 dark:bg-green-800 rounded-lg hover:bg-green-800 dark:hover:bg-green-900 transition">Guildes</a>
        </li>
        <li><a href="/about"
            class="px-4 py-2 bg-green-700 dark:bg-green-800 rounded-lg hover:bg-green-800 dark:hover:bg-green-900 transition">Contact</a>
        </li>
      </ul>

      <!-- User name -->
      {{ if .LoggedIn }}
      <div class="hidden lg:flex">
        {{ block "name" . }}{{ end }}
      </div>
      {{ end }}

      <!-- Login button (Large) -->
      {{ if .LoggedIn }}
      <div class="hidden lg:flex">
        {{ block "logout-button" . }}{{ end }}
      </div>
      {{ else }}
      <div class="hidden lg:flex">
        {{ block "login-button" . }}{{ end }}
      </div>
      {{ end }}

      <!-- Mobile Menu Button (Small)-->
      <div class="lg:hidden">
        <button id="mobile-menu-button"
          class="text-white hover:text-gray-300 transition-colors duration-200 focus:outline-none">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="hidden">
    <!-- Full Screen Overlay -->
    <div class="fixed inset-0 bg-green-600 dark:bg-green-700 z-50 flex flex-col">
      <!-- Close Button -->
      <div class="p-4 flex justify-end">
        <button id="mobile-menu-close" class="text-white hover:text-gray-300 transition-colors duration-200">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>

      <!-- Navigation Links -->
      <ul class="flex flex-col items-center space-y-4 mt-4">
        <li><a href="/"
            class="px-4 bg-green-700 dark:bg-green-800 rounded-lg hover:bg-green-800 dark:hover:bg-green-900 transition w-full">Accueil</a>
        </li>
        <li><a href="/characters"
            class="px-4 bg-green-700 dark:bg-green-800 rounded-lg hover:bg-green-800 dark:hover:bg-green-900 transition w-full">Personnages</a>
        </li>
        <li><a href="/guild"
            class="px-4 bg-green-700 dark:bg-green-800 rounded-lg hover:bg-green-800 dark:hover:bg-green-900 transition w-full">Guildes</a>
        </li>
        <li><a href="/about"
            class="px-4 bg-green-700 dark:bg-green-800 rounded-lg hover:bg-green-800 dark:hover:bg-green-900 transition w-full">Contact</a>
        </li>
      </ul>

      <!-- User Status and Login/Logout Button -->
      <div class="flex flex-col items-center mt-4">
        {{ if .LoggedIn }}
        <div class="mb-2">
          {{ block "name" . }}{{ end }}
        </div>
        <div>
          {{ block "logout-button" . }}{{ end }}
        </div>
        {{ else }}
        <div>
          {{ block "login-button" . }}{{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</nav>

<!-- JavaScript to handle mobile menu toggle -->
<script>
  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const mobileMenu = document.getElementById('mobile-menu');
  const mobileMenuClose = document.getElementById('mobile-menu-close');

  mobileMenuButton.addEventListener('click', () => {
    mobileMenu.classList.remove('hidden');
  });

  mobileMenuClose.addEventListener('click', () => {
    mobileMenu.classList.add('hidden');
  });
</script>
{{ end }}

{{ define "nav-links" }}
{{ end }}

<!-- Login buttons -->
{{ define "login-button" }}
<a href="/auth/google"
  class="px-4 py-2 bg-blue-700 dark:bg-blue-600 rounded-lg hover:bg-blue-800 dark:hover:bg-blue-700 transition w-full">Se
  connecter
  avec Google</a>
{{ end }}

{{ define "logout-button" }}
<a href="/logout"
  class="px-4 py-2 bg-blue-700 dark:bg-blue-600 rounded-lg hover:bg-blue-800 dark:hover:bg-blue-700 transition w-full">Se
  déconnecter</a>
{{ end }}

<!-- Name section -->
{{ define "name" }}
<div id="name" hx-target="#name" hx-post="/user/edit-name" hx-swap="outerHTML" hx-trigger="click"
  class="space-x-2 cursor-pointer">
  <span class="text-lg font-semibold">{{ displayName .Username }}</span>
  <button hx-get="/user/edit-name"
    class="px-2 bg-green-700 dark:bg-green-800 hover:bg-green-800 dark:hover:bg-green-900 text-sm rounded transition">Edit</button>
</div>
{{ end }}

{{ define "edit-name" }}
<div id="name" class="flex items-center space-x-2">
  <input type="text" name="name" hx-post="/user/save-name" hx-swap="outerHTML" hx-target="#name"
    hx-trigger="blur, change" placeholder="{{ .Username }}"
    class="px-3 rounded-lg bg-white dark:bg-gray-800 text-black dark:text-gray-100 focus:outline-none focus:ring-2 focus:ring-green-600"
    autofocus />
  <button hx-post="/user/save-name" hx-target="#name"
    class="px-2 bg-green-700 dark:bg-green-800 hover:bg-green-800 dark:hover:bg-green-900 text-sm rounded transition">Save</button>
</div>
{{ end }}
