{{ define "topbar" }}
<div class="bg-yellow-500 dark:bg-yellow-500 text-white p-3 text-center">
  <strong>Work in progress:</strong> Le guide etant encore en development, des rollbacks ne sont pas a exclure.</div>
<div class="bg-green-600 dark:bg-green-700 text-white p-4 shadow-md">
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <!-- Left Section: Title and Links -->
    <div class="flex-1 flex items-center justify-between md:justify-start">
      <h1 class="text-xl font-bold mr-4">Optiguide</h1>
      <nav class="hidden md:flex space-x-4">
        <a href="/"
          class="px-4 py-2 bg-green-700 dark:bg-green-800 rounded-lg hover:bg-green-800 dark:hover:bg-green-900 transition">Accueil</a>
        <a href="/guild"
          class="px-4 py-2 bg-green-700 dark:bg-green-800 rounded-lg hover:bg-green-800 dark:hover:bg-green-900 transition">Guildes</a>
        <a href="/about"
          class="px-4 py-2 bg-green-700 dark:bg-green-800 rounded-lg hover:bg-green-800 dark:hover:bg-green-900 transition">Contact</a>
      </nav>
    </div>
    <!-- Right Section: Name and Login Button -->
    <div class="flex items-center space-x-4 mt-2 md:mt-0">
      <div class="hidden md:flex items-center space-x-2">
        {{ if .LoggedIn }}
        {{ block "name" . }}{{ end }}
        {{ end }}
      </div>
      <div>
        {{ renderAuthButton .LoggedIn }}
      </div>
      <!-- Center Section: Tooltip -->
      <div class="relative group inline-block ml-2">
        <svg class="w-6 h-6 text-white hover:text-gray-300 transition-colors duration-200 cursor-pointer"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill-rule="evenodd"
            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
            clip-rule="evenodd"></path>
        </svg>
        <span
          class="absolute left-full bottom-0 mb-2 ml-2 w-max hidden group-hover:block bg-black text-white text-sm rounded p-2 shadow-lg">Update:
          nouveau dark mode qui se synchronise avec le navigateur!</span>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "name" }}
<div id="name" hx-target="#name" hx-post="/user/edit-name" hx-swap="outerHTML"
  class="flex items-center space-x-2 cursor-pointer">
  <span class="text-lg font-semibold">{{ .Username }}</span>
  <button hx-get="/user/edit-name"
    class="px-2 py-1 bg-green-700 dark:bg-green-800 hover:bg-green-800 dark:hover:bg-green-900 text-sm rounded transition">Edit</button>
</div>
{{ end }}

{{ define "edit-name" }}
<div id="name" class="flex items-center space-x-2">
  <input type="text" name="name" hx-post="/user/save-name" hx-swap="outerHTML" hx-target="#name"
    placeholder="{{ .Username }}"
    class="px-3 py-2 rounded-lg bg-white dark:bg-gray-800 text-black dark:text-gray-100 focus:outline-none focus:ring-2 focus:ring-green-600"
    autofocus />
  <button hx-post="/user/save-name" hx-target="#name"
    class="px-2 py-1 bg-green-700 dark:bg-green-800 hover:bg-green-800 dark:hover:bg-green-900 text-sm rounded transition">Save</button>
</div>
{{ end }}
