<div class="bg-green-600 text-white p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center space-x-4">
      <h1 class="text-2xl font-bold">Optiguide</h1>
      <a href="/" class="px-4 py-2 bg-green-700 rounded-lg hover:bg-green-800 transition">Home</a>
      <a href="/guild" class="px-4 py-2 bg-green-700 rounded-lg hover:bg-green-800 transition">Guildes</a>
      <a href="/about" class="px-4 py-2 bg-green-700 rounded-lg hover:bg-green-800 transition">About</a>
    </div>
    {{ .Username }}
    <div>
      {{ renderAuthButton .LoggedIn }}
    </div>
  </div>
</div>
